# data science project artifacts
**/artifacts

# specific data sets
**/recs2015_public_v4.csv

# Python
**/__pycache__

# Jupyter
**/.ipynb_checkpoints

# Python
**/__pycache__

# Zig
**/zig-out
**/.zig-cache

# Nix
**/result

