# data science project artifacts
**/artifacts

# notes
**/*NOTES

# specific data sets
**/recs2015_public_v4.csv

# Haskell
**/dist
**/dist-newstyle

# Python
**/__pycache__

# Jupyter
**/.ipynb_checkpoints

# Haskell
dist-newstyle
*.o
*.hi
*.chi
*.chs.h

# Python
**/__pycache__

# Zig
**/zig-out
**/.zig-cache

# Nix
**/result

