# Projects
tf-keras
tetris26
Arcade-Learning-Environment
haskell-tensorflow-docker
haskell-tensorflow-example

# The following might be needed at some point
temp-tfv2-optimizer
gamblers-problem
autorom_experiment
