dqn/log/**
log/**
log_tfv2/**

.flake8
Dockerfile
Makefile
Pipfile
alt-diff-out.txt
alt.diff
develop.nix
dqn/Experiments.ipynb
dqn/MUJOCO_LOG.TXT
dqn/distribution/
dqn/environment.py
dqn/eval.py
dqn/game.py
dqn/mlp.py
dqn/parallel.py
dqn/policy/
dqn/ppo.py
dqn/sampler.py
dqn/simulator.py
dqn/test.py
dqn/train.py
dqn/train_ch03.py
dqn/trpo.py
dqn/value/
gym_script.py
output_cnn_3zombies1min.v3.txt
requirements.txt
train.nix
zombsole_train.out

